<div class="container">
  <h1>Editing Burger</h1>

  <div class="card">
    <div class="card-body">
      <%= render 'form', burger: @burger %>
    </div>
  </div>

  <%= link_to 'Show', @burger %> |
  <%= link_to 'Back', burgers_path %>
</div>